Repository synthopia/pulseboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

Update CI workflow to install pnpm globally before setting up dependencies
  .github/workflows/ci.yml
Due: prettier --write

Remove CI workflow configuration from GitHub Actions
  .github/ISSUE_TEMPLATE/tech_upgrade.yml
  .github/workflows/ci.yml
Due: prettier --write

Add footer to index.html with credit to Pulseboard
  src/public/index.html
Due: none

Update project version from 1.0.0 to 0.1.0 in package.json
  package.json
Due: prettier --write

Update service URLs in services.ts to reflect current application links
  src/config/services.ts
Due: eslint --fix, prettier --write
